* {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin: 0;
    color: white;
}
body{
    background-color: black;
}
a {
    text-decoration: none;
}
.rrss-fixed{
    position: fixed;
    top: 10px;
    /* left: 91%; */
    right: 1%;
    height: fit-content;
}
.rrss-fixed ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 30vh;
    margin-bottom: 30vh;
    height: 60vh;
    margin-right: 25px;

}
.rrss-fixed li{
    margin-bottom: 35px;
}
.rrss-fixed i {
    font-size: 25px;
}
/* HEADER */

body header ul{
    list-style: none;
}

#header {
    margin-bottom: 15px;
    box-shadow: 1px 4px 5px 2px rgba(255,0,0,0.5);
    min-width: 100%;
    max-height: 84px;
}
.div-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    max-width: 1170px;
    padding: 10px 10% 10px 10%;
    background-color: black;
}
header img {
    width: 50px;
}

header nav ul{
    display: flex;
}

header nav ul li{
    padding-right: 15px;
}

header ul{
    display: flex;
}

header ul li{
    padding-right: 15px;
}

/* MAIN */
main{ 
    /* background-color: black; */
}
    /* HEADER */
    .header-main {
        text-align: center;
        font-size: 50px;
        height: 100vh;
        /* border: solid 1px red; */
    }
    .header-main h1{
        padding-top: 35vh;
    }
    /* MAIN */
    .main-main {
        margin: 0 auto;
        max-width: 1170px;
        padding-top: 15vh;     
        height: 50vh;
        /* border: solid 1px white; */
    }
    .div-main-main {        
        display: flex;
        align-items: center;
    }
    .main-main img {
        border-radius: 100%;
    }
    .div-main-main h2{
        padding: 0 0 5px 0;
    }
    .div-main-main h6{
        padding: 0 0 20px 0;
        font-size: 14px;
    }

    /* SECTION PROYECTOS */
    #sect-proyect {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sect-proyect article {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        padding: 0px 10%;
        justify-content: space-around;
    }
    #sect-proyect article div {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
    }
    #sect-proyect article div p{
        position: relative;
        bottom: 40px;
        /* left: 20px; */
        padding-left: 20px;
        padding-right: 10px;
        color: white;
        font-weight: 600;
        background-color: black;
        width: fit-content;
    } 
    
    /* Sink */
    #sect-proyect article div{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    }
    #sect-proyect article div:hover, #sect-proyect article div:focus, #sect-proyect article div:active {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    }

    /* Sweep To Right

    .hvr-sweep-to-right {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }
    .hvr-sweep-to-right:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2098D1;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
        color: white;
    }
    .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    } */

/* FOOTER */

    footer {
        border-top: solid white 1px;
        /* background-color:black; */
    }
    footer ul{
        list-style: none;
    }
    .div-main-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 6%;
    }

    /* BOX 1 */

    .div-box-1-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .div-box-1-footer img{
        width: 90px;
    }
    .list-box-1-footer ul{
        display: flex;
        width: 100%;
        padding: 0px;

    }
    .list-box-1-footer ul li {
        padding: 10px;
    }

    /* BOX 2 */
    .div-box-2-footer {
        display: flex;
    }

    /* COPY */
    .copy-footer {
        padding: 0px 6% 10px;
    }
    .copy-footer p{
        text-align: right;
        font-size: 10px;
    }

    /* HOVER */

    header i:hover {
        color: red;
    }
    .rrss-fixed li:hover {
        color: red;
    }
    header a:hover {
        color: red;
    }
    footer .fa-instagram:hover{
        color: #e640cf;
    }
    footer .fa-twitter:hover{
        color: #00acee;
    }
    footer .fa-twitch:hover{
        color: #6441a5; 
    }
    footer .fa-discord:hover{
        color: #5865F2;
    }
    footer .fa-youtube:hover{
        color: #c4302b;
    }
    footer .fa-linkedin-in:hover{
        color: #0e76a8;
    }